<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update password</title>
</head>
<body>
<form method="post" action="/password">
    <label for="old-password-input">Old password: </label>
    <input type="password" name="old-password" id="old-password-input">
    <br>
    <label for="new-password-input">New password: </label>
    <input type="password" name="new-password" id="new-password-input">
    <br>
    <input type="submit" value="Change">
    {% if invalid_password %}
    <p><b>User password is incorrect</b></p>
    {% endif %}
</form>
</body>
</html>